@height: 100%;
@width: 100%;
@color: #9A353B;

html, body, :global(#root) {
  height: @height;
}

body{
  padding: 10px;
}

.verticalCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: @height;
}

.mt10{
    margin-top: 10px;
}

.lyb_flex_sb{
  display: flex;
  justify-content: space-between;
}
