@height: 100%;
@width: 100%;
@color: #0D0D0D;
@main-color: #9F4545; //正安红
@px14: 14px;
@infoColor: #FF821D; //提示span颜色

html, body, :global(#root) {
  height: @height;
  color: @color;
}

li, ul, body, html{
  list-style: none;
  margin: 0;
  padding: 0;
}

/*   修正类css
    unit(@i,px): 避免less生成的css文件px和值之前多一个空格
*/
.marginLoop(@n, @i:1) when (@i < @n){
  :global(.mt@{i}){
    margin-top: unit(@i,px);
  }
  :global(.ml@{i}){
    margin-left: unit(@i,px);
  }
  :global(.mr@{i}){
    margin-right: unit(@i,px);
  }
  :global(.mb@{i}){
    margin-bottom: unit(@i,px);
  }
  .marginLoop(@n, (@i + 1));
}

.marginLoop(100);

/*   修正类css */
.verticalCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: @height;
}

.vertical-center-modal {
  text-align: center;
  white-space: nowrap;
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.lyb_flex_sb{
  display: flex;
  justify-content: space-between;
}

.width200{
  width: 200px;
}

:global{
  .cash-bold-title{
    font-weight: bold;
    font-size: @px14;
    line-height: 25px;
    margin-top: 20px;
  }
  .info-box span{
    margin-right: 20px;
  }
  .lyb-info{
    color: @infoColor;
    font-size: 13px;
    font-weight: normal;
  }

  .lyb-color{
    color: @main-color;
  }

  .text-align-center{
    text-align: center;
  }
}


