html,
body,
:global(#root) {
  height: 100%;
}
body {
  padding: 10px;
}
.verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mt10 {
  margin-top: 10px;
}
